body {
    background-color: #fff9c1;
    margin: 0;
    overflow-x: hidden;
    }
 
h2{text-align: center;} 

a { 
    color: #000000;
    text-decoration: none;
}
/* #1976d2 is a shade of blue */

.header {
    /*overflow: hidden;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 15px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff9c1;
    top: 0;
    
}

.header a{
    color:#33b300;
    font-weight: bold;
    height: 100%;
    border-radius:5px;
    padding: 5px 16px; /* horizontal padding for clickable area */
    margin: 0;
}
.header a:hover {
background: #f5e875;
color: #278a00;
}

#left-side {
   /* this will display in rows next to each other */
    display: flex;
 }

.right-side {
    display: flex;
    gap: 20px;  /* space between links */
} 

#main-section {
    height: calc(100vh - 70px); /* full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    text-align: center;
    place-items: center;
    margin-bottom: 120px;
   /* margin-top: 120px;*/
    box-sizing: border-box;
    padding: 20px;
    color: #278a00;
}

.logo{
    display: flex;
    flex-wrap: nowrap;
    
}

#main-section h3{
padding: 0;
margin: 0;
}

#main-section h1{
     font-family: "Ribeye", serif;
     font-size: 72px;
     padding: 0;
     margin: 0 ;
     color: #ff9800;

}

.button{ 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ff9800;
    font-size: 15px;
    color: white;
    border-radius: 0.75rem;
    height: 40px;
    width: 200px;
    font-weight: bolder;
}

#mission {
    background-color: #1976d2;
    color: white;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    margin: 0; 
}

#mission p{
    padding: 10px;
    padding-top: 0;
    margin: 0; 
}

#mission ul{
margin: 0;
}

#team{
    background-color: #ff9800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.card-container{
    width: 100%;
}

.team-member img{
    border-radius: 100%; /* makes the image round */
}  
.image-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    }  

.team-member {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    }

.team-member:hover{
    transform: rotateY(180deg);
}

.team-member p {
    text-align: center;
    margin: 4px 10px; /* Reduce vertical spacing */
}

.card-back{
    background-color: #ff9800;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    transform: rotateY(180deg);
    overflow: auto;
}

#contact{
    background-color: #33b300;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   /* flex-wrap: wrap;*/
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    gap: 10px; /* space between contact items */
}

 footer {
    background-color: #33b300;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

#main-section,
#our-mission,
#team,
#contact {
    scroll-margin: 70px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #main-section h1{
     font-family: "Ribeye", serif;
     font-size: 26px;
     padding: 0;
     margin: 0 ;
     color: #ff9800;
}

     .logo {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 10%;
        width: auto; /* Change width to auto for flexibility */
        min-width: 50px; /* Adjust min-width based on logo size */
    }
    
    .contact-container {
    display: flex;
    flex-direction: column;
    align-items: start;
   /* gap: 10px;  space between icon and text 
    width: 90%;
    justify-content: center;*/
    }
    .contact-info {
        width: 100%;
        justify-content: start;
    }

    .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px; /* space between images */
    }  

    .team-member {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
   /*transform-style: preserve-3d;
    transition: all 0.8s ease;*/
    }

   .team-member:active{
    transform: rotateY(180deg);
}
}












